{% extends 'base.admin.html.twig' %}

{% block title %}Objednávky{% endblock %}

{% block body %}
    <h1>Objednávky</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>E-mail</th>
                <th>Telefon</th>
                <th>Jméno</th>
                <th>Ulice</th>
                <th>Město</th>
                <th>PSČ</th>
                <th>Poznámka</th>
                <th>Cena</th>
                <th>Odesláno</th>
                <th>Datum</th>
                <th>akce</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.email }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.nameAndSurname }}</td>
                <td>{{ order.street }}</td>
                <td>{{ order.city }}</td>
                <td>{{ order.zip }}</td>
                <td>{{ order.note }}</td>
                <td>{{ order.totalPrice }}</td>
                <td>{{ order.submitted ? 'Yes' : 'No' }}</td>
                <td>{{ order.created ? order.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('order_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('order_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('order_new') }}">Create new</a>
{% endblock %}
